.zenbu {
}

.atama {
  height: 50px;
  margin: 0px 0px 10px;
  padding: 0px;
  width: calc(100vw - 10px);
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
}

.hidari {
  padding: 0px 10px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.migis {
  display: flex;
  list-style: none;
}

.migi {
  padding: 0px 10px;
  margin: 0px 10px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rogo {
  font-size: 40px;
  margin: 20px;
  font-style: italic;
}

.karada {
  height: calc(100vh - 100px);
  width: calc(100vw - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

.uraru {
  height: 50px;
  width: 50vw;
  font-size: large
}

.button {
  height: 53px;
  width: 100px;
  font-size: large;
  background-color: cyan;
  border: solid 1px;
}

.showtime {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
}

.reloadplz {
  font-size:xx-small;
}

.moviefield {
  margin: 20px;
  width: 60vw;
}

.commentfield {
  margin: 0px 20px;
  width: 40vw;
  height: 90vh;
}

.honhe {
  height: 600px;
  width: 40vw;
}
.komento {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.sentence {
  height: 50px;
  width: calc(100% - 120px);
  font-size: large
}

.comment_ue {
  height: 80vh;
  background-color: pink;
  overflow-y: scroll;
}

.kome {
  word-break: break-all;
}

.timesentence {
  display: flex;
}

.hhmm {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.comment_sita {
}

.login {
  display: flex;
  justify-content: center;
}

.deletebutton {
  text-decoration: none;
  color: red;
  border: solid 3px;
  border-color: red;
  padding: 0px 3px;
}

@media (max-width: 1100px){
  .atama {
    height: 20px;
  }
  .hidari {
    height: 20px;
  }
  .rogo {
    font-size: 20px;
    margin: 10px;
  }
  .showtime {
    display: flex;
    flex-direction: column;
  }
  .moviefield {
    margin: 0px;
  }
  .commentfield {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }  
  .honhe {
    margin: 0px;
    padding: 0px;
    height: 40vh;
    width: 90vw;
  }
  .migis {
    height: 20px;
    padding: 0px 20px 10px;
    margin: 0px;
  }
  .migi {
    font-size: x-small;
    padding: 0px 5px;
    margin: 0px 5px;  
  }
  .comment_ue {
    height: 75vh;
    padding: 0px;
    margin-bottom: 3px;
  }  
}
