.zenbu {
}

.atama {
  height: 50px;
  margin: 0px 0px 10px;
  padding: 0px;
  width: calc(100vw - 10px);
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
}

.hidari {
  padding: 0px 10px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.migis {
  display: flex;
  list-style: none;
}

.migi {
  padding: 0px 10px;
  margin: 0px 10px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rogo {
  font-size: 40px;
  margin: 20px;
  font-style: italic;
}

.karada {
  height: calc(100vh - 100px);
  width: calc(100vw - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

.uraru {
  height: 50px;
  width: 50vw;
  font-size: large
}

.button {
  height: 53px;
  width: 100px;
  font-size: large;
  background-color: cyan;
  border: solid 1px;
}

.showtime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(80vh);
}

.reloadplz {
  font-size:xx-small;
}

.moviefield {
  margin-top: 20px;
  margin-left: 20px;
  width: 60vw;
}

.commentfield {
  margin-top: 20px;
  margin-right: 20px;
  padding: 0px;
  width: 30vw;
  height: 100%;
}

.honhe {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.komento {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.sentence {
  height: 50px;
  width: calc(100% - 120px);
  font-size: large
}

.comment_ue {
  background-color: pink;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  margin-bottom: 5px;
}  

.kome {
  word-break: break-all;
}

.timesentence {
  display: flex;
}

.hhmm {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.comment_sita {
  height: calc(100% - 85vh);
}

.comment_form {
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
}

.samunehidari {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deletebukuma {
  width: 35px;
  text-align: center;
  text-decoration: none;
  color: red;
  border: solid 3px;
  border-color: red;
  padding: 3px;
}

.deletekome {
  text-align: center;
  text-decoration: none;
  color: red;
  border: solid 2px;
  border-color: red;
  padding: 0px 3px;
  margin-left: 5px;
}

.bukuma {
  display: flex;
}

.samune {
  margin: 0px 5px;
}

.bukuma_setumei {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-all;
}

.ytmovie {
  position:relative;
  width:100%;
  height:0;
  padding-top:75%;
}

.ytmovie iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.copybutton {
  width: 50px;
  background-color: gray;
  padding: 5px 2px;
  margin-bottom: 5px;
  text-align: center;
  font-size:small;
}

@media (max-width: 1000px){
  .atama {
    height: 20px;
  }
  .hidari {
    height: 20px;
  }
  .rogo {
    font-size: 20px;
    margin: 10px;
  }
  .showtime {
    display: flex;
    flex-direction: column;
  }
  .moviefield {
    margin: 0px;
    width: 90vw;
  }
  .ytmovie iframe {
    width:100%;
    height:100%;
  }  
  .commentfield {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }  
  .honhe {
    margin: 0px;
    padding: 0px;
    height: 40vh;
    width: 90vw;
  }
  .migis {
    height: 20px;
    padding: 0px 20px 10px;
    margin: 0px;
  }
  .migi {
    font-size: x-small;
    padding: 0px 5px;
    margin: 0px 5px;  
  }
}
